# =========================
# DIGILIB REAL FULL - EXAMPLE
# Copy file này thành .env khi chạy project
# =========================

COMPOSE_PROJECT_NAME=digilib-real-full

# =========================
# DATABASE
# =========================

SA_PASSWORD=Your_password123
MSSQL_SA_PASSWORD=Your_password123
ACCEPT_EULA=Y

# =========================
# JWT
# Đổi JWT_SECRET khi đưa lên host thật
# =========================

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_KEY_MINIMUM_32_CHARACTERS
JWT_ISSUER=Digilib
JWT_AUDIENCE=DigilibUsers
JWT_EXPIRES_MINUTES=1440

# =========================
# ASP.NET CORE
# =========================

ASPNETCORE_ENVIRONMENT=Development

# =========================
# LOCAL SERVICE URLS
# =========================

API_GATEWAY_URL=http://localhost:5000
CATALOG_SERVICE_URL=http://localhost:5101
IDENTITY_REPORT_SERVICE_URL=http://localhost:5102
CIRCULATION_SERVICE_URL=http://localhost:5103

# =========================
# FRONTEND LOCAL URLS
# =========================

VITE_API_BASE_URL=http://localhost:5000
VITE_ADMIN_URL=http://localhost:5173
VITE_LIBRARIAN_URL=http://localhost:5174
VITE_USER_URL=http://localhost:5175